.card {
    border: 1px solid var(--clr-dark-100);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    h3 {
        flex-grow: 1;
        position: absolute;
        padding: 10px;
        top: 0;
    }
    .card__bottom__flex__items {
        flex-grow: 1;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        border-top: 1px solid var(--clr-dark-100);
        p {
            font-size: var(--fnt-small);
            padding: 15px 5px 15px 10px;
        }
    }
    img {
        flex-grow: 2;
        position: absolute;
        width: 95%;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}

